body {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

span {
    font-weight: 200;
    color: #7405f1;
    font-style: italic;
}

.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}
.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.circle1 {
    height: 500px;
    width: 500px;
    background-color: #0e12e6f5;
}

.circle2 {
    height: 400px;
    width: 400px;
    background-color: #16e60e;
    top: 50px;
    left: 50px;
}
.circle3 {
    height: 300px;
    width: 300px;
    background-color: #dfee13;
    top: 100px;
    left: 100px;
}
.circle4 {
    height: 200px;
    width: 200px;
    background-color: #d40e0e;
    top: 150px;
    left: 150px;
}

.scorebox {
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    background-color: black;
    height: 100px;
    width: 100px;
    top: 200px;
    left: 200px;
    text-align: center;
    font-weight: 900;
    color: #eceff3;
    font-size: 2em;
    padding-top: 30px;
}

.button {
    background-color: #FF5A60;
    color: #FFF;
    border: 0;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    top: 550px;
    position: relative;
    font-weight: 600;
}
button:hover {
    background-color: #FF5A60;
    opacity: 0.8;
}

.light {
    opacity: 0.4;
}